@media (max-width: 1200px) {
  .text_review {
    display: none;
  }
}

@media (max-width: 480px) {
  .assortment__img {
    height: 100px;
  }

  .bestsellers__img {
    height: 150px;
  }

  .review {
    display: none;
  }

  .footer__wrapper {
    background-color: #81a7cb;
  }

  .promo__wrapper {
    position: relative;
    /* width: 420px; */
  }
}
