$color-primary: #c74375;
$color-secondary: #81a7cb; /*ffecf4*/
$color-text: #392e2c;
$color-heading: #392d2b;
$color-light: #ffffff;

$content-width: 1200px;
$tablet-width: 768px;
$mobile-big-width: 430px;
$mobile-small-width: 375px;
