.button {
  font-family: "Roboto", Verdana, sans-serif;
  padding: 11px 25px 13px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.button_search {
  padding: 0;
  border: none;
  background: none;
  color: $color-text;
}

.button_search:hover {
  color: $color-light;
}

// .button_signin {
//   background: $color-light;
//   border: 1px solid;
//   color: $color-text;
// }

.button_basket {
  padding: 0;
  border: none;
  background: none;
  color: $color-text;
}

.button_basket:hover {
  color: $color-light;
}

#backtotop {
  position: fixed;
  bottom: 20px; /* Distance from the bottom */
  right: 20px; /* Distance from the right */
  padding: 10px 15px;
  background-color: $color-secondary; /* Button color */
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000; /* Ensure it stays above other elements */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#backtotop:hover {
  background-color: $color-text; /* Hover color */
  color: $color-secondary;
}
