.footer__wrapper {
}

.contact-us {
  padding-top: 40px;
  font-size: 1.2rem;
}

.footer-navigation {
  padding-top: 20px;
  font-size: 1.6rem;
}

.follow-us {
  font-size: 1.6rem;
}

.footer__follow {
  list-style: none;
}
